
.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.search-container {
    display: flex;
    align-items: center;
}

.header-button-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0 10px 0;
}

.td-cell-fit {
    width: 1%;
}

.perfect-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-error {
    color: green;
}

.is-error {
    color: red;
}


.center {
    text-align: center;
}
